.title{
    text-align: center;
    
    span.helloMessage{
        display: block;
        max-width: 600px;
        margin-bottom: 60px;
        font-size: 30px;
        line-height: 180%;
    }

    span.loginMessage{
        display: block;
        margin-bottom: 20px;
    }
}
