$backgroundColor: rgb(161, 186, 255);

.Page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;

    width: 100vw;
    height: 100vh;
    background-color: $backgroundColor;
}